@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap');

@import "variables";

.head {
  text-align: center;
  color: white;
  background-color: black;
  margin: auto;
  width: 4em;
  height: auto;
  line-height: 1em;
  border-radius: 2em;
  padding: 0 0.10em;
  font-family: 'Nunito';
  font-style: bold;
  font-weight: 700;

}

.textWrap {
  color: white;
  text-align: center;
  font-family: 'Nunito';
  font-weight: 300;
  padding: 1em;
}

.imgAlign {
  display: block;
  margin: 0 auto;
  width: 80vw;
  height: auto;
}

.formatRow {
  text-align: center;
}

.gradientBg {
  width: 100vw;
  height: 100%;
  background-size: cover;
  background-image: url("../images/blueblack-gradient.jpg");
  background-repeat: no-repeat;
  background-position: center;  
}

 @media screen and (min-width: 600px){

  .imgAlign{
    width:250px;
    height: auto;
  }

  .head {
    width: 7em;
    line-height: 1.25em;
  }
 }