@import "variables";


.bg {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 700px;
  background-size: cover;
  background-image: url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center; 
}

.textWrap {
  padding-top: 32em;
  font-family: 'Nunito';
  font-style: bold;
  font-weight: 700;
}


.formatText {
  color: white;
  text-align: center;
  font-weight: 900;
  font-size: 2em;
}